*
{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

html
{
	background:#111;
    font-family:'Karnivore Lite', Helvetica, Arial, sans-serif;
    color:hsla(192, 100%, 70%, .6);
    text-transform:lowercase;
    font-size:100%;
    font-smooth: never;
    -webkit-font-smoothing : none;
}
#container
{
	position:relative;
    margin:50px auto;
    box-shadow:0 1px 3px rgba(0,0,0,.3);
    border:1px solid hsla(192, 100%, 70%, 0.1);
    /* stops border being cut off due to box sizing. */
	width:802px;
	height:502px;
}
canvas, section
{
	position:absolute;
	left:0;
	top:0;
	display:block;
    width:800px;
    height:500px;
}
#information
{
    z-index:-1;
    overflow:hidden;
    padding:50px 100px 50px 100px;
    display:none;
}
#bg
{
	z-index:2;
	background:#000;
}
#enemy
{
	z-index:3;
}
#projectile
{
	z-index:4;
}
#particle
{
	z-index:5;
}
#player
{
	z-index:6;
}
#hud
{
	z-index:7;
}
#overlay
{
    z-index:8;
}
#information.active
{
    z-index:10;
    background-image:url(grid.png);
    overflow-y:scroll;
    display:block;
}
img
{
    float:right;
    display:block;
    border:1px solid hsla(192, 100%, 70%, 0.5);
    margin:0 0 20px 20px;
}

h1
{
    border-bottom:1px solid hsla(192, 100%, 70%, 0.5);
}

h2, div
{
    clear:right;
}

h1, h2
{
    font-weight:normal;
    font-size:1.2857em;
    line-height:1.3333;
    margin:0 0 1.3333em 0;
}

h1 span
{
    color:#fff;
    float:right;
    font-size:.9em;
}

h3
{
    font-weight:normal;
    font-size:1.1429em;
    line-height:1.5;
    margin:0;
}

p, ul
{
    font-size:1em;
    line-height:1.7143;
    margin:0 0 1.7143em 0;
    color:white;
}

@font-face
{
    font-family: 'Karnivore Lite';
    src:    url('fonts/KARNIVOL-webfont.eot');
    src:    url('fonts/KARNIVOL-webfont.eot?#iefix') format('embedded-opentype'),
            url('fonts/KARNIVOL-webfont.woff') format('woff'),
            url('fonts/KARNIVOL-webfont.ttf') format('truetype'),
            url('fonts/KARNIVOL-webfont.svg#KarnivoreLiteRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.blur:after
{
    content:'';
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, .8);
    z-index:7;
}
